* {
  margin:0;
  padding:0;
}

/* style for body of portfolio */
body {
background-color: rgb(99, 161, 223);
}


.header{
  outline: solid 5px orange;
  border: 4px solid red
}
.headertitle{
  border: 4px dotted green;
}
.headerlinks{
  border: 4px dashed yellow;
}